.documents-box {
    width:80%;
    margin-top: 100px;
}

.documents-content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.ant-list-item-action {
    width: 200px;
}
