.full-height {
  height: 100vh;
  width: 100vw;
}

.App {
  text-align: center;
}

.home_column {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center
}

.home_content {
  align-self: center;
}

.home_illustration {
  background-image: url(images/home_ilustration.jpg);
  background-size: contain;
  background-color: rgb(57, 161, 255);
  background-repeat: no-repeat;
  background-position: center;
}